.section {
    width: 100%;
    // min-height: 100vh;
    background:linear-gradient(45deg,rgba(101, 11, 228, 0.77),rgba(244, 67, 2, 0.562));
    overflow: hidden;

}


.section__container {
    display: flex;
    //  justify-content: space-between;
    // / align-items: center;
    margin: 2.5rem;
    
}

.section__img img{
    margin-top: 1rem;
    // width: 520px;
    //  height: 600px;
    // width: 2000px;
//    width: 50%;
    // height: 530px;
    height: 500px;
    padding: 5px;
    object-fit: cover;
}

.section__content {

    // margin: 0 auto;
//    border:1px solid red;
   width: 85%;
     line-height: 43px;
    text-align: center;
    font-family: cursive;

    h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 55px;
        margin-bottom: 2.125rem;
        // margin-bottom:1rem;
        font-family: system-ui;
        cursor: grab;
    &:hover{
        text-decoration: underline;
    }

    }
    
    .content{
        //  padding: 40px;
        
        padding-left: 30px;
    }

    // p {
    //     font-weight: bolder;
    //     color: #fff;
    //     text-transform: uppercase;
    //     border-bottom: 1px solid green;
    //     cursor: pointer;
        // box-shadow: 2px 2px 15px green;
        // padding: 6px;
        // font-family: cursive;

    //     margin-block: 7px
    //     ;

    //     &:hover {
    //         // transform: scale(110%);
    //         transform: scale(90%);
    //         // transition: 250ms;
    //         transition: 250ms;
          
    //         color: firebrick;
    //     }
    // }
}

@media (max-width:1100px) {
    .section__container {
        flex-direction: column;
        margin: 2.5rem;


    h1 {

        font-size: 25px;
        margin-bottom: 0rem;
    }

    p {
        font-size: 26px;
        margin-block: 25px;
        padding: 25px;
        font-weight: normal;
    }

    }

    .section__img img{
        // width: 720px;
        // height: 410px;
        width: 1000px;
        height: 500px ;
        padding: 10px;
        object-fit: cover;
    }

}

// .section__content {
//     line-height: 30px;
//     font-size: 14px;
// }


@media (max-width:735px) {
    .section__img img{
        // width: 300px;
        // height: 220px;
        width: 700px;
        height: 330px;
        // padding: 2px;
        // padding: 5px;
        object-fit: cover;
    }


    .section__container {
        flex-direction: column;
        margin: 1.5rem;


    h1 {

        font-size: 25px;
    }

    p {
        font-size: 10px;
        margin-block:5px;
        padding: 5px;

    }

    }
}

@media (max-width:335px) {
    .section__container {
        margin: 0;
    h1 {

        font-size: 20px;
        margin-bottom: 0rem;
    }

    p {
        font-size: 12px;
        margin-block: 0px;
        padding: 0px;
        font-weight: normal;
        box-shadow: 2px 2px 5px green;
    }

    }

    .section__img img{
        // width: 250px;
        // height: 150px;
        width: 350px;
        height: 200px;
        padding: 2px;
        object-fit: cover;
    }
    // .section__content {
    //     line-height: 10px;
    //     font-size: 5px;
    // }
    
}